*{
    
}
.pokemon__card {
 display: grid;
 background-color: rgba(236, 236, 236, 0.438);
 align-items: center;
 justify-items: center;
 border-radius: 3px;
 box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
}
.pokemon__img-container {
 width: 110px;
 height: 110px;
 margin-right: 20px;
}
.pokemon__img {
 width: 110px;
}
.pokemon__body {
 display: flex;
 flex-direction: column;
 text-align: center;
 text-transform: uppercase;
 
}

.paginations__container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.pokedex__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 0px 10px 20px 10px;
}

.pagination {
 display: flex;
 flex-direction: row;
 align-items: center;
 margin: 20px;
}

.button__pagination {
 margin-bottom: 5px;
 background: black;
 color: rgb(250, 245, 239);
 border-radius: 10px;
 margin: 5px;
 box-shadow: 4px 4px 4px rgba(238, 237, 237, 0);
}
